## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
.vscode/

## Rider
.idea/

## OS
.DS_Store
Thumbs.db

## Logs
*.log
.logs/
.pids/

## Test results
TestResults/

## NuGet
*.nupkg
packages/
.nuget/

## Publish
publish/

## Plugin build outputs
backend/plugins/*
!backend/plugins/.gitkeep
/plugins/

## Local env
appsettings.Development.json
appsettings.Local.json

# Env files
.env
