<!-- Button -->
<button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
        @if (showAvatar() && user()?.avatar) {
            <img class="h-7 w-7 rounded-full" [src]="user()?.avatar" />
        }
        @if (!showAvatar() || !user()?.avatar) {
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        }
        <span
            class="absolute bottom-0 right-0 h-2 w-2 rounded-full"
            [class.mb-px]="!showAvatar() || !user()?.avatar"
            [class.mr-px]="!showAvatar() || !user()?.avatar"
            [class.bg-green-500]="user()?.status === 'online'"
            [class.bg-amber-500]="user()?.status === 'away'"
            [class.bg-red-500]="user()?.status === 'busy'"
            [class.bg-gray-400]="user()?.status === 'not-visible'"
        ></span>
    </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item (click)="signOut()">
        <mat-icon
            [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"
        ></mat-icon>
        <span>Cerrar Sesión</span>
    </button>
</mat-menu>
